.techContainer{
  padding-top: 2rem;
  text-align: center;
}

.grigContainerTechnologies{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 2rem 1rem 2rem 1rem;
}

.imageTech{
  width: 5rem;
}